* {
  box-sizing: border-box;
}

html {
  min-width: 320px;
  min-height: 100%;
}

body {
  min-width: 320px;
  min-height: 100vh;
}

#root {
  min-height: 100vh;
}

::selection {
  background: #c8edaa;
  color: #173d30;
}
